html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Universal styles */

html {
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: #D4D2A5;
}

h1 {
    font-size: 3.2rem;
    padding: 0;
    color: #5E5768;
    text-shadow: 1px 1px #a65959;
    font-family: 'Anton', cursive;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #928779;
    text-shadow: 1px 1px #000;
    font-family: 'Noto Sans', sans-serif;
  }

span {
    font-size: 1.4rem;
    margin: .5rem 0;
    letter-spacing: .5px;
    color: #3A445D;
  }

  a {
    text-decoration: none;
  }

  p {
    margin-top: 2rem;
    color: #3A445D;
  }

.container {
  display: flex;
  margin: 0;
}

.image_banner {
  width: 60%;
  height: auto;
  margin-right: 1.5rem;
}

.banner {
    display: flex;
    height: auto;
    padding: 2.5rem 1.5rem;
  }

.text_content {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem 1.5rem 1.5rem;
  }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Change styles for mobile */

  @media only screen and (max-width: 700px) {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.7rem;
    }

    .image_banner {
      width: 100%;
      margin: 0;
    }

    .banner {
      flex-direction: column;
      padding: 0;
      align-items: center;
    }
  }


/* Header styles*/

.container header {
  height: 4rem;
}

header {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #5E5768;
}

.logo {
  display: flex;
  height: 2.5rem;
  align-items: center;
  margin: 1rem 1.5rem;
}

.logo img {
  height: 2.5rem;
}

.logo span {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #D4D2A5;
}

.logo .black {
  color: #000;
  font-weight: bold;
}

/* Change styles for mobile */

@media only screen and (max-width: 700px) {

  .container header {
    width: 100%;
    overflow: hidden;
    justify-content: center;
  }

  header {
    height: 4rem;
  }

  .logo span {
    display: none;
  }
}

/* Navigation Menu */

.navigation {
  margin-right: 1.5rem;
}

.navigation li {
  display: inline-block;
  margin: 1rem 0.5rem;
}

.navigation a {
  text-decoration: none;
  color: #D4D2A5;
  font-size: 1.2rem;
  text-shadow: 1px 1px #000000;
}

.navigation a:hover {
  color: #3A445D;
  font-weight: bold;
}

.navigation .mobile {
  display: none;
}


/* Sign in menu styles */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 1.5rem;
    margin: .5rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */

.cancelbtn {
    padding: 1rem 1.5rem;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */

.container_signin {
    padding: 1rem;
}

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #5E5768;
    padding-top: 3rem;
}

/* Modal Content/Box */

.modal-content {
    background-color: #FCDEBE;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.modal-content p {
  color: #000;
}

/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for mobile */

@media only screen and (max-width: 700px) {
    .cancelbtn, .signupbtn {
       width: 100%;
  }

    .modal {
    left: 10%;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 3rem;
  }

  .navigation .desktop {
    display: none;
  }

  .navigation .mobile {
    display: block;
  }

  .navigation a:hover {
    color: red;
  }

  .navigation a {
    margin: 0 .5rem;
  }
}

/*Main Banner*/

.first {
  background-color: #FCDEBE;
  margin-top: 4rem;
}

.first .text_content  {
  flex-direction: column;
  width: 40%;
  justify-content: center;
  margin: 1.5rem;
}

.first h1,
  .first span,
    .first input {
      margin: 1.5rem 0;
    }

.starthere {
      width: 100%;
      color: #FCDEBE;
      background-color: #5E5768;
      border: black;
      padding: 1rem;
      text-align: center;
      font-size: 1rem;
      margin: 1rem;
      }

.starthere:hover {
      font-size: 1.2rem;
      font-weight: bold;
      transition: 1s;
      background-color: #3A445D;
      }

/* Change styles for mobile */

    @media only screen and (max-width: 700px) {
      .first h1,
        .first span,
          .first input {
            margin: 1rem;
          }

      .first .text_content {
        width: 100%;
        margin: 1rem 0;
        align-items: center;
        text-align: center;
      }
    .starthere {
      width: 100%;
    }

}

/*Second Banner*/

#campus {
  background-color: #D4D2A5;
}

.banner_two .image_banner {
  width: 100%;
  }

.banner_two {
  display: flex;
  max-width: 60%;
  flex-flow: column wrap;
}

.content_container a:hover {
  font-weight: bold;
}

.content_container .content {
  display: flex;
  flex-direction: row;
  padding: .5rem;
}


.banner_two span {
  margin: 1.5rem 0;
}

.content_container {
  display: flex;
  flex-flow: column;
  margin-top: 1.5rem;
}

.image_info {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.mobile_image {
  display: none;
}

/* Change styles for mobile */

@media only screen and (max-width: 700px) {

  .banner_two .image_banner {
    display: none;
  }

  .desktop {
    display: none;
    }

  .image_info {
    display: none;
  }

  .mobile_image {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 1rem;
  }

  .content_container .content {
    display: flex;
    flex-direction: column;
  }

  .text_content {
    display: flex;
    text-align: center;
    margin: 0;
  }
}

/*Courses Banner*/


.container_courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #FCDEBE;
}

.banner_courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content_course {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 27%;
  background-color: #D4D2A5;
  }

.course_img {
  height: auto;
}

.mobile_hover {
  display: none;
}

/* Change styles for mobile */

@media only screen and (max-width: 700px) {

  .container_courses h1{
    margin: 2rem 0 1rem 0;
  }

  .course_img {
    display: none;
  }
  .content_course span {
    display: none;
  }

  .text_content h2 {
    margin: 1rem 1rem 1.5rem 1rem;
  }

  .container_courses {
    padding: 0;
    background-color: #FCDEBE;
  }

  .banner_courses {
    width: 90%;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    flex-direction: column;
  }

  .content_course {
    width: 100%;
    margin: .5rem 1rem;
    border: 1px solid #595959;
    background-color: #D4D2A5;
  }

  .content_course:hover {
    transition: 0.5s;
    background-color: #5E5768;
  }
}

/*Last banner*/

.thesis {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 0;
}


 .banner_last {
  display: flex;
  flex-flow: column wrap;
  width: 60%;
  padding-bottom: 0;
}

.banner_last .content_container {
  width: 40%;
}

.video_banner {
  width: 100%;
}

/* Change styles for mobile */

@media only screen and (max-width: 700px) {
  .banner_last .text_content {
      display: none;
    }

  .content_container .fisma,
    .content_container .research {
      display: none;
  }

  .banner_last {
    width: 100%;
  }

  .video_banner {
    width: 100%;
    overflow: hidden;
  }
}

/*Footer*/

.footer {
  display: flex;
  height: 4rem;
  max-width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  background-color: #5E5768;
}

.footer p {
  margin: 1.5rem;
  color: #D4D2A5;
  text-shadow: 1px 1px #000000;
}

.footer a {
  margin: .5rem;
  color: #D4D2A5;
  text-shadow: 1px 1px #000000;
}

.footer a:hover {
  color: #3A445D;
  font-weight: bold;
}

/* Change styles for mobile */

@media only screen and (max-width: 700px) {
  .footer {
    width: 100%;
    justify-content: center;
    overflow: hidden;
  }

  .footer p {
    margin: 1.5rem 0;
  }

  .footer a {
    display: none;
  }
}
