/*Universal styles*/

html {
  font-size: 16px;
  color:
}

body {

}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #404040
}

h2 {
  font-size: 2rem;
  color: #737373
}

span {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  margin: .5rem;
  color: #808080;
}

.container {
  display: flex;
  width: ;
  margin: 2rem 1.5rem;
}

.image_banner {
  width: 60%;
}

.image_info {
  width: 35%;
  margin: 1rem 1rem;
}

.image_content {
  height: auto;
  max-width: 40%;

}

.course_img {
  height: auto;
  width: 60%;
}

/*Header*/

.container header {
  height: 4rem;
}

header {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
}

.logo {
  display: flex;
  height: 2.5rem;
  align-items: center;
  margin: 1rem 1.5rem;
}

.logo img {
  height: 2.5rem;
}

.logo span {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/*Navigation Menu*/

.navigation {
  margin-right: 1.5rem;
}

.navigation li {
  display: inline-block;
  margin: 1rem 0.5rem;
}

.navigation a {
  text-decoration: none;
  color: #808080;
  font-size: 1.2rem;
}

.navigation .mobile {
  display: none;
}

/*Main Banner*/

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e6e6e6;
}

.container .text_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;

}

.text_content span {
  margin: 1.5rem;
  font-size: 1.5rem;
}

button {
  font-size: 1rem;
  padding: .5rem 2.5rem;
  background-color: #808080;
}

/*Information Section*/

 .banner_two .text_content {
   width: 60%;
}

.text_content span,
  .text_content p {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.mobile_image {
  display: none;
}

.image_content {
  height: auto;
  width: 40%;
  flex-direction: row;
}

/*Courses section*/

.courses {

  justify-content: center;
  margin: 2rem 4.5rem;
}

.course_content {
  padding: 1rem;

}


/*Footer*/

.footer {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 0;
  margin: 1rem;
  justify-content: space-between;
  background-color: #ffffff;
}
